src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="bookmyhotelapi-config" api="resource::a48df65f-4162-4f7b-b907-b5f038686e7a:bookmyhotel:1.0.7:raml:zip:bookmyhotelapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="bookmyhotelapi-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bookmyhotelapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bookmyhotelapi-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bookmyhotelapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\booking\(bookingId):bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="bdae4a6d-d47e-4c75-9fb0-cfdf25dc7ffa" name="deleteBookingById"/>
    </flow>
    <flow name="delete:\hotels\(hotelId):bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="40a32b28-cc3d-4841-a06c-394b53fe10df" name="deleteHotelById"/>
    </flow>
    <flow name="patch:\booking\(bookingId):application\json:bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="844e70e2-a412-4fb4-a215-4fb72cba63e0" name="updateBookingById"/>
    </flow>
    <flow name="patch:\hotels\(hotelId):application\json:bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="208f816a-8338-4aaa-9dad-c154e92c8c00" name="updateHotelById"/>
    </flow>
    <flow name="get:\hotels\(hotelId)\booking:bookmyhotelapi-config" doc:id="5d49f837-baad-445d-a283-f483894b0caf">
		<ee:transform doc:name="Transform Message" doc:id="63d41b4a-9658-4afa-a7c3-87197832b512" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\booking\(bookingId):bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="ee6509d6-e494-4c9e-956e-14ecc6ecd231" name="getBookingById"/>
    </flow>
    <flow name="get:\booking:bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="96894822-bd67-4f6e-8284-993a0162dcb1" name="getBookings"/>
    </flow>
    <flow name="get:\hotels\(hotelId):bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="744a0405-5d61-445d-9008-bf7e8a6c6d57" name="getHotelById"/>
    </flow>
    <flow name="get:\hotels:bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="489ebf13-0371-4fd9-a65b-e0b58c71a5de" name="getHotels"/>
    </flow>
    <flow name="post:\booking:application\json:bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="b483add1-437a-4394-b588-10bf04461aa4" name="postBooking"/>
    </flow>
    <flow name="post:\hotels:application\json:bookmyhotelapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="a2f5c1c9-8247-4d9b-8fd6-180b9626e75b" name="postHotel"/>
    </flow>
</mule>
